# Dépendances
node_modules/
.pnp.*
.yarn/*

# Build / sortie
dist/
apps/api/prisma/apply-sql.js
apps/api/prisma/apply-sql.js.map
apps/api/prisma/seed.js
apps/api/prisma/seed.js.map
apps/api/prisma/create-admin.js
apps/api/prisma/create-admin.js.map
build/
.next/
out/
coverage/
*.tsbuildinfo

# Environnement & secrets
.env
.env.*
!.env.example
!infra/.env.prod.example
*.pem
*.key

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Divers
tmp/
.cache/
